.advancedSelect{
    border-width: 1px;
    border-color: #0C2231;
    border-radius: 10px;
    border-style: solid;
    padding-left: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.parentColour{
    background-color: #F9DCE1;
    height: 100%;
}
