.grid {
    background-color: #1D1F20;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.valueBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.halfGridLeft {
    background-color: #1D1F20;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 45%;
}

.halfGridRight {
    background-color: #1D1F20;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 45%;
}

.icon{
  padding-top: 20px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.iconLarge {
    font-size: 3rem;
}

.iconUp {
    color: #31724b;
}

.iconDown {
    color: #DA304C;
}
